<!DOCTYPE html>
<html>


<head>
  <meta charset="UTF-8">
  <title>California Love</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


</head>


<body>


  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Accueil
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">A Propos</a>
        </li>
      </ul>
    </div>
  </nav>


  <div class="card bg-dark text-white">
    <img src="https://coverfiles.alphacoders.com/560/56021.jpg" class="card-img" alt="..." />

    

  </div>


  <div class="container-fluid">
    <div class="col row">
      <div class="col-6">
        <br><br>
        <h1>
          <center>Information California   {{data}}  </center>
        </h1>
        <br><br>
        <p class="lead"><b>Contexte : </b>Dans le cadre de la formation développeur IA dispensé par Simplon, nous
          devions étudier des
          modèles de régression machine learning afin de déterminer les prix des biens immobilier en Californie.
        <p>
      </div>
      <div class="col-6">
        <br><br>
        <h1>
          <center>Features</center>
        </h1>
        <br><br>
        <ul>
          <li class="lead"><b>MedInc : </b>Revenus moyens des habitants du quatier</li>
          <li class="lead"><b>HouseAge : </b>Age moyen des maisons dans le quartier</li>
          <li class="lead"><b>AveRooms : </b>Nombre moyen de pièces</li>
          <li class="lead"><b>AveBedrms : </b>Nombre moyen de chambres</li>
          <li class="lead"><b>Population : </b>Population du quartier</li>
          <li class="lead"><b>AveOccup : </b>Nombre moyen d'occupant</li>
          <li class="lead"><b>Latitude : </b>Latitude</li>
          <li class="lead"><b>Longitude : </b>Longitude</li>
        </ul>
      </div>
    </div>
  </div>
  <hr>

  <div class="container-fluid">
    <div class="row">

      <div class="col-4 card text-white bg-primary">
        <div class="card-header">
          <br>
          <h1>
            <center>Simulation</center>
          </h1>

        </div>

        <div class="card-body">
          <form action="{{ url_for('predict')}}" method="POST" role="form">


          <div class="slidecontainer">
          <div><label for="myRange1" class="form-label">Revenus moyens des habitants du quatier</label></div>          
          <input type="range" min="0.5" max="15" step="0.0001"value="0" class="slider form-range" name="MedInc" id="myRange1">
          <p>Value: <span id="demo1"></span></p>
          </div><br>

           
          <div class="slidecontainer">
          <div><label for="myRange2" class="form-label">Age moyen des maisons dans le quartier</label></div>     
          <input type="range" min="1" max="52" step="1" value="0" id="myRange2" class="slider form-range" name="HouseAge" placeholder="HouseAge" required="required" />
          <p>Value: <span id="demo2"></span></p>
          </div><br>


          <div class="slidecontainer">
          <div><label for="myRange3" class="form-label">Nombre moyen de pièces</label></div> 
          <input type="range"  min="0.85" max="141.91" step="0.000001" value="0" id="myRange3" class="slider form-range" name="AveRooms" placeholder="AveRooms" required="required" />
          <p>Value: <span id="demo3"></span></p>
         </div><br>

          <div class="slidecontainer">
          <div><label for="myRange4" class="form-label">Nombre moyen de chambres</label></div>      
          <input type="range"  min="0.33" max="34.07" step="0.000001" value="0" id="myRange4" class="slider form-range" name="AveBedrms" placeholder="AveBedrms" required="required" />
          <p>Value: <span id="demo4"></span></p>
          </div><br>

          <div class="slidecontainer">
          <div><label for="myRange5" class="form-label">Population du quartier</label></div>      
          <input type="range"  min="3" max="35682" step="1" value="0" id="myRange5" class="slider form-range" name="Population" placeholder="Population" required="required" />
          <p>Value: <span id="demo5"></span></p>
          </div><br>

          <div class="slidecontainer">
          <div><label for="myRange6" class="form-label">Nombre moyen d'occupant</label></div>      
          <input type="range"  min="0.69" max="1243.33" step="0.000001" value="0" id="myRange6" class="slider form-range" name="AveOccup" placeholder="AveOccup" required="required" />
          <p>Value: <span id="demo6"></span></p>
          </div><br>

          <div class="slidecontainer">
          <div><label for="myRange7" class="form-label">Latitude</label></div>      
          <input type="range"  min="32.54" max="41.95" step="0.01" value="0" id="myRange7" class="slider form-range" name="Latitude" placeholder="Latitude" required="required" />
          <p>Value: <span id="demo7"></span></p>
          </div><br>

          <div class="slidecontainer">
          <div><label for="myRange8" class="form-label">Longitude</label></div>      
          <input type="range"  min="-124.35" max="-114.31" step="0.01" value="-124.35" id="myRange8" class="slider form-range" name="Longitude" placeholder="Longitude" required="required" />
          <p>Value: <span id="demo8"></span></p>
          </div><br>


            <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
          </form>
        </div>
      </div>
      <div class="col-8">
        <div class="card text-white bg-primary col-12">
          <div class="card-header">
            <br>
            <h1>
              <center>Valeurs Saisies</center>
            </h1>
          </div>
          <div class="card-body">
            <p class="card-text taille_police lead">
              <ul>
              <li class="lead">{{s1}}</li>
              <li class="lead">{{s2}}</li>
              <li class="lead">{{s3}}</li>
              <li class="lead">{{s4}}</li>
              <li class="lead">{{s5}}</li>
              <li class="lead">{{s6}}</li>
              <li class="lead">{{s7}}</li>
              <li class="lead">{{s8}}</li>
              </ul>
            </p>
          </div>
          <br>
        </div>
        <br>
        <div class="card text-white bg-secondary col-12">
          <div class="card-header">
            <br>
            <h1>
              <center>Résultat de la simulation</center>
            </h1>
          </div>

          <div class="card-body">
            <p class="card-text taille_police lead">
              <b>{{ prediction_text }}</b>
            </p>
          </div>
          <br>
        </div>
        <br>
        <div class="card text-white bg-secondary col-12">
          <div class="card-header">
            <br>
            <h1>
              <center>Résultat de la simulation</center>
            </h1>
          </div>

          <div class="card-body">
            <p class="card-text taille_police lead">
              <b>{{ prediction_text }}</b>
            </p>
          </div>
          <br>
        </div>
        <br>
      </div>
    </div>
  </div>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
    integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
    integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
    crossorigin="anonymous"></script>
</body>

</html>